html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  background: white;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

/* main page */
.list-books-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

.shelf-indicator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shelf-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.bookshelf-books {
  text-align: center;
}

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

/* book */
.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
  text-align: center;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-link {
  opacity: 1;
}

.book-link:hover {
  opacity: 0.7;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */
.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-style: italic;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* add books button */

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('../icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
  outline: 0;
  cursor: pointer;
}

.open-search button:hover {
  background-color: rgb(0, 102, 0);
}

/* search page */

.search-books {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.search-books-bar {
  width: 100%;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  flex-basis: 0;
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  text-align: center;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.clear-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 36px;
  height: 36px;
  margin: auto;
  background-image: url('../icons/clear_search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  background-color: white;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

button:active {
  border: red;
  outline: none;
}

.search-books-results {
  padding: 20px 10px 20px;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* loader */
.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('../icons/loader_circles.svg');
  background-repeat: no-repeat;
  background-position: center;
  outline: 0;
}

/* informative messages */
.info-message {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  font-style: italic;
}
.info-message > a {
  text-decoration: none;
  color: #2e7c31;
}

/* toast */
.toast-class {
  max-width: 80%;
  margin: 0 5px 5px auto;
}

/* book detail page */
#book-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#book-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  overflow: auto;
}

#book-basic-info {
  margin-right: 30px;
  margin-left: 20px;
  display: flex;
  flex-flow: column nowrap;
}

#book-detailed-info {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 10px;
  margin-left: 20px;
}

#book-detailed-info > div {
  color: #999;
  font-size: 1em;
  text-align: left;
}

#book-detailed-info > div > .key {
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}

.relevant-links {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  font-style: italic;
  text-decoration: none;
  color: #2e7c31;
}

@media (max-width: 600px) {
  #book-info {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  #book-basic-info {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

#error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#error-container > p,
#error-container > a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  font-style: italic;
  text-decoration: none;
}

#error-container > p {
  color: red;
}

#error-container > a {
  color: #2e7c31;
}
